<!--==========================
      Header
    ============================-->
<header id="header">
    <div class="container">

        <div id="logo" class="pull-left">
            <!-- Uncomment below if you prefer to use a text logo -->
            <!-- <h1><a href="#main">C<span>o</span>nf</a></h1>-->
            <a href="" class="scrollto"><img src="/img/hacklogo.png" alt="" title=""></a>
        </div>

        <nav id="nav-menu-container">
            <ul class="nav-menu">
                <li class="menu-active"><a href="#intro">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#speakers">Teams</a></li>
                <li><a href="#gallery">Tweets</a></li>
                @*<li><a class="disabled" href="#supporters">Sponsors</a></li>
        <li><a href="#contact">Contact</a></li>*@
            </ul>
        </nav><!-- #nav-menu-container -->
    </div>
</header><!-- #header -->