<!--==========================
  Speakers Section
============================-->
<section id="speakers" class="wow fadeInUp">
    <div class="container">
        <div class="section-header">
            <h2>Teams</h2>
            <p>Here are some of our Teams</p>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="speaker">
                    <img src="/img/hacklogo.png" alt="Speaker 1" class="img-fluid">
                    <div class="details">
                        <h3><a href="/2020/Men">Men</a></h3>
                        <p>Belarus, Minsk</p>
                        <div class="social">
                            <a href=""><i class="fa fa-twitter"></i></a>
                            <a href=""><i class="fa fa-facebook"></i></a>
                            <a href=""><i class="fa fa-google-plus"></i></a>
                            <a href=""><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="speaker">
                    <img src="/img/hacklogo.png" alt="Speaker 1" class="img-fluid">
                    <div class="details">
                        <h3><a href="/2019/Brave-Sitecorians">Brave Sitecorians</a></h3>
                        <p>Belarus, Minsk</p>
                        <div class="social">
                            <a href=""><i class="fa fa-twitter"></i></a>
                            <a href=""><i class="fa fa-facebook"></i></a>
                            <a href=""><i class="fa fa-google-plus"></i></a>
                            <a href=""><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="speaker">
                    <img src="/img/hacklogo.png" alt="Speaker 1" class="img-fluid">
                    <div class="details">
                        <h3><a href="/2020/Men">Team</a></h3>
                        <p>USA, New York</p>
                        <div class="social">
                            <a href=""><i class="fa fa-twitter"></i></a>
                            <a href=""><i class="fa fa-facebook"></i></a>
                            <a href=""><i class="fa fa-google-plus"></i></a>
                            <a href=""><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>